body{
    font-family: Ubuntu;
    padding: auto;
}

.contentcontainer{
    display: flex;
    flex-direction: column;
}
/*header*/
.header{
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px 350px;
}

.headerlogo{
    font-size: 24px;
    font-weight: bold;
}

.headerlinks{
    display: flex;
    margin-left: auto;
    font-size: 18px;
    gap: 50px;

}

/*hero*/
.hero{
    display: flex; 
    color: #f9faf8;
    background-color: #1f2937;
    padding-bottom: 60px;
    gap: 150px;
    justify-content: center;
}

.herotext{
    display: flex; 
    flex-direction: column;
    min-width: 309px;
    max-width: 350px;
}

.herophoto{
    display: flex; 
    max-width:100%;
    height:auto;
    justify-content: flex-end;
    align-items: center;
}

#heromain{
    font-size: 48px;
    font-weight: bolder;
}

img{
    display: flex;
    flex: 1;
    border-radius: 20px;
}

p{
    font-size: 18px;
    font-weight: 300;
}

.firstbutton{
    color:#f9faf8;
    background: #3882f6;
    border-color: #3882f6;
    border-width: 10x;
    border-radius: 20px;
    width: 135px;
    height: 40px; 
    border-style: solid;
    font-family: Ubuntu, Oxygen;
    font-size: 18px;
    margin-top: 10px;
}

/*information section*/
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photossection{
    display: flex;
    flex: 1 1 0;
    width: 0;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.caption{
    margin: 10px 0;
    text-align: center;
    font-weight: 300;
}

/*quote*/
.quotecontainer{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 40px 350px;
}

#quotetext{
    display: flex;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    padding: 50px 50px;
    padding-bottom: 10px;
}

#author{
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    font-size: 30px;
}

/*call to action*/
.calltoaction{
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    max-width: 1000px;
    padding: 20px 60px;
    border-radius: 20px;
    margin: 60px auto;
    gap: 100px;
    align-items: center;
}

.calltextcontainer{
    display: flex;
    flex-direction: column;
}

h2,p{
    margin: 5px 0;
}

.secondbutton{
    color:#f9faf8;
    background: #3882f6;
    border-color: #f9faf8;
    border-width: 1x;
    border-radius: 20px;
    width: 135px;
    height: 40px; 
    border-style: solid;
    font-family: Ubuntu, Oxygen;
    font-size: 18px;
}

/*footer */
.footer{
    background-color: #1f2937;
    color: #e5e7eb;
        text-align: center;
        padding: 20px 0;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}


